
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }
    
li {
    float: left;
    }
    
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    }
.header{
    display: flex;
    flex-flow: row wrap; 
}

.logo{
    flex: 40%;
}

.search{
    flex: 40%;
}

body{
    background-color: red;
}

.page-wrapper{
    background-color: white;
    margin: 1em auto;
    width: 60em;
    padding: 1.5em;
    
    background-image: url(../images/zen.jpg);
    background-size: cover;
    opacity: 100;    
}